@model VeterinarskaStanica.Areas.ModulTehnickoOsoblje.Models.IzvrsenaUsluga
@{
    ViewBag.Title = "Izmjena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izmjena</h2>
<form asp-area="ModulTehnickoOsoblje" asp-controller="IzvrsenaUsluga" asp-action="Edit" data-ajax="true" data-ajax-method="post" data-ajax-update="#ajaxpozivKorisnici">
  
    @if (TempData["Message"] != null)
    {
    <div>
        <h3>@TempData["Message"]</h3>
    </div>
    }
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Definisane terapije</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RacuniId, "Račun", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RacuniId, Model.listaRacuna.Select(model => new SelectListItem
           {
               Value = model.Id.ToString(),
               Text = model.Naziv
           }).ToList(), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RacuniId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UslugeId, "Usluga", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UslugeId, Model.listaUsluga.Select(model => new SelectListItem
           {
               Value = model.Id.ToString(),
               Text = model.Naziv
           }).ToList(), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UslugeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izmijeni" class="btn btn-default" />
            </div>
        </div>
    </div>
    </form>