@model IEnumerable<VeterinarskaStanica.Models.UspostavljenaDijagnoza>
<table class="table">
      <tr>
          <th>
              @Html.DisplayNameFor(model => model.Intezitet)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.Komentar)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.DijagnozaId)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.PreglediId)
          </th>
          <th></th>
      </tr>

      @foreach (var item in Model)
      {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem => item.Intezitet)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Komentar)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.DijagnozaId)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.PreglediId)
              </td>
              <td>
                  @*<a class="btn btn-default" data-ajax="true" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="ajaxpozivKorisnici" href="">Edit</a>*@
                  @*@Ajax.ActionLink("Izmijeni", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxpozivKorisnici" }, new { @class = "btn btn-default" })*@

              </td>
          </tr>
      }

  </table>
