@model VeterinarskaStanica.Areas.ModulTehnickoOsoblje.Models.DefinisaneTerapije

<h2>Dodavanje</h2>
<form asp-area="ModulTehnickoOsoblje" asp-controller="DefinisaneTerapije" asp-action="Create" data-ajax="true" data-ajax-method="post" data-ajax-update="#ajaxpozivNalozi">
    @if (TempData["Message"] != null)
    {
    <div>
        <h3>@TempData["Message"]</h3>
    </div>
    }
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Definisane terapije</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Doziranje, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Doziranje, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Doziranje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TerapijaId, "Terapija", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TerapijaId, Model.listaTerapija.Select(model => new SelectListItem
           {
               Value = model.Id.ToString(),
               Text = model.Vrsta
           }).ToList(), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TerapijaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreglediId, "Pregled", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PreglediId, Model.listaPregleda.Select(model => new SelectListItem
           {
               Value = model.Id.ToString(),
               Text = model.Id.ToString()
           }).ToList(), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PreglediId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
    </form>