@model VeterinarskaStanica.Models.Doktor

<div>
    <h4>Doktor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KorisnickiNalog.Username)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.KorisnickiNalog.Username)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Pozicija)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Pozicija)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>
    
    </dl>
</div>