@model IEnumerable<VeterinarskaStanica.Models.Doktor>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KorisnickiNalog.Username)
        </th>
        <th>
            Neaktivan
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pozicija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnickiNalog.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pozicija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
        </tr>
    }

</table>