@model VeterinarskaStanica.Models.Tehnicko_osoblje

<div>
    <h4>Tehnicko_osoblje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KorisnickiNalog.Username)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.KorisnickiNalog.Username)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Vrsta_posla)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Vrsta_posla)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>
    
    </dl>
</div>