@model VeterinarskaStanica.Models.KorisnickiNalog

<div>
    <h4>KorisnickiNalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Administrator.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrator.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doktor.Pozicija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doktor.Pozicija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tehnicko_osoblje.Vrsta_posla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tehnicko_osoblje.Vrsta_posla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teh_osob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teh_osob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin)
        </dd>

    </dl>
</div>